<div class="card">
    <div class="card-body">
      <div class="text-value">{{user.fullName}}</div>
      <small class="text-muted"> Phone</small> &nbsp;<span class="text-value">{{user.phoneNumber}}</span> <br>
      <small class="text-muted"> Current Job</small> &nbsp;<span class="text-value">{{user.workPlace}}</span> <br>
      <small class="text-muted"> Current Rate</small> &nbsp;<span class="text-value">{{user.rate}}</span> <br>
      <small class="text-muted"> Counselor</small> &nbsp;<span class="text-value">{{user.counselorName}}</span>
    </div>
  </div>
